{% extends 'base/splitscreen-form.html' %}
{% load static %}

{% block site_title %}Profile{% endblock %}
{% block description %}Your RefCheck User Profile{% endblock %}
{% block form_title %}My Profile{% endblock %}
{% block caption-addition %}
<p class="subtitle">Joined {{ user.date_joined|date:"M Y" }}, last seen {{ user.last_login|date:"d/m/y H:i:s" }}</p>{% endblock %}

{% block form-intro %}
<img src="{% static 'images/profile-image.png' %}" alt="Guy working on a laptop and his user profile">
<h1>Join RefCheck now to simplify your revision process.</h1>
<hr class="dash dark-color"/>
<p>The AI assistant that frees you from unnecessary manual work.</p>
{% endblock %}

{% block form %}
{{ form.non_field_errors }}

{% with label="Username" input_id=form.username.id_for_label input=form.username info_box_text=form.username.help_text errors=form.username.errors %}
{% include 'base/form-group.html' %}
{% endwith %}

<div class="form-group-wrapper">
    {% with label="First Name" input_id=form.first_name.id_for_label input=form.first_name errors=form.first_name.errors %}
    {% include 'base/form-group.html' %}
    {% endwith %}

    {% with label="Last Name" input_id=form.last_name.id_for_label input=form.last_name errors=form.last_name.errors %}
    {% include 'base/form-group.html' %}
    {% endwith %}
</div>

{% with label="Email" input_id=form.email.id_for_label input=form.email help_text=form.email.help_text errors=form.email.errors %}
{% include 'base/form-group.html' %}
{% endwith %}

<label for="groups">Groups:</label>
<div id="groups" class="tag-container">
    {% for group in user.groups.all %}
    <p class="tag">{{ group }}</p>
    {% endfor %}
    {% if user.groups.all|length == 0 %}
    <p class="tag">none</p>
    {% endif %}
</div>
<p class="form-input-help">The groups this user belongs to. A user will get all permissions granted to each of their groups.</p>
{{ form.groups.errors }}

{{ form.errors }}

<br>

<div class="inline-buttons">
    <button type=submit>Save</button>
    or
    {% url 'password_change' as password_change_url %}
    <a class="button" href="{{ password_change_url }}">Change Password</a>
</div>
{% endblock %}